@import "tailwindcss";

@theme {
    /*fonts*/
    --font-display: "MinecraftiaRegular", "monospace";

    /*colors*/
    --color-mcgreen: #5B8731;
    --color-mcdirt: #866043;
    --color-mcstone: #7A7A7A;
    --color-mcwood: #A0744F;

    /*animations*/
    --animate-fade-in-up: fade-in-up 0.5s ease out forwards;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}